<div class="flex-col flex items-center fixed inset-0 left-1/4 bg-gray-50 gap-8 justify-center font-normal uppercase text-sm text-secondary hidden" id="mobile-menu">
  <%= link_to root_path,  class: "flex gap-2 items-center"  do %>
    <i class="fa-solid fa-house"></i>
    <span>Home</span>
  <% end %>
</div>