<div class="pt-10 px-5 flex flex-col gap-10">
  <h1 class="text-2xl  tracking-wide text-green-500"> Authorization </h1>
  <div class="grid lg:grid-cols-3 lg:gap-20 gap-5">
      <div class="flex flex-col gap-5 col-span-2">
        <h5 class="font-bold text-lg">auth</h5>
        <div class='flex flex-col gap-2'>
          <p class="leading-8 text-sm">
            auth
          </p>
        </div>
      </div>
  </div>
</div>