<div class="pt-10 px-5 flex flex-col gap-10">
  <h1 class="text-2xl  tracking-wide text-green-500"> Authorization </h1>
  <div class="grid lg:grid-cols-2 lg:gap-20 gap-5">
      <div class="flex flex-col gap-5">
        <div class='flex flex-col gap-2'>
          <p class="leading-8 text-sm">
            - We need to write methods to generate and get an access token from the <a href="https://developer.safaricom.co.ke/APIs/Authorization" class="text-link" target="_blank">Authorization API</a>.
          </p>
          <p class="leading-8 text-sm">
           - Making a simulation on the <a href="https://developer.safaricom.co.ke/APIs/Authorization" class="text-link" target="_blank">daraja portal</a>, we see that we need to pass two values in our headers a key <span> Authorization </span> and value a Base64 encode of the consumer key: consumer secret.
          </p>
          <p class="leading-8 text-sm">
           Add <span class='pre'> gem rest-client </span> and <span class='pre'> gem dotenv </span> to your <span class='pre'> Gemfile </span> and run <span class='pre'> bundle </span> to install them.<span class="pre">rest-client</span> will enable us make HTTP requests to the API endpoints and <span class="pre">dotenv</span> is to load environment variables from <span class="pre">.env</span>.
          </p>
          <p class="leading-8 text-sm">
            - Let's generate a controller to write all our logic <span class="pre"> rails g controller mpesa </span>.
          </p>
          <p class="leading-8 text-sm">
            - We will define a <span class="pre"> before_action: load_variables</span> to fetch the variables we require from <span class="pre>.env</span>.
          </p>
          <p class="leading-8 text-sm">
           - then define a private <span class="pre">load_variables</span> method.
           <div class="pre p-2 text-sm">
           <span class="ml-2">def load_variables</span>
                <br />
                <span class="ml-4">@consumer_key = ENV.fetch('MPESA_CONSUMER_KEY')</span>
                <br />
                <span class="ml-4">@consumer_secret = ENV.fetch('MPESA_CONSUMER_SECRET')</span>
                <br />
                <span class="ml-2">end</span>
           </div>
          </p>
          <p class="leading-8 text-sm">
           - Let's abstract the authorization request code to a concern to keep our controller clean. Create a concern file <span class="pre"> app/controllers/concerns/access_request.rb</span>
           <div class="pre text-sm p-3">
            module Mpesa
              <br/>
              <span class="ml-2">module AccessRequest</span>
              <br />
                <span class="ml-2">end</span>
              <br/>
            end
           </div>
           </p>
           <p class="leading-8 text-sm">
           then include it in your <span class="pre"> app/controllers/mpesa_controller</span> file <span class="pre">include Mpesa::AccessRequest</span>
          </p>
          <p class="leading-8 text-sm">
            - <span class='pre'>generate_access_token</span>, gives you a time bound access token to call allowed APIs in the sandbox.
          </p>
          <p class="leading-8 text-sm">
            - <span class='pre'>retrieve_access_token</span>, used to check if generate_access_token is successful or not then it reads the responses and extracts the access token from the response and saves it to the database.
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-5">
        <p class="italic">app/controllers/mpesa_controller.rb</p>
        <div class="pre p-5">
            class MpesasController < ApplicationController
              <br/>
              <span class="ml-2">skip_before_action :verify_authenticity_token</span>
              <br/>
              <span class="ml-2">before_action :load_variables</span>
              <br />
              <br/>

              <span class="ml-2">include Mpesa::AccessRequest</span>
              <br />
              <br />

              <span class="ml-2">private</span>
              <br />
              <br />

              <span class="ml-2">def load_variables</span>
                <br />
                <span class="ml-4">@consumer_key = ENV.fetch('MPESA_CONSUMER_KEY')</span>
                <br />
                <span class="ml-4">@consumer_secret = ENV.fetch('MPESA_CONSUMER_SECRET')</span>
                <br />
                <span class="ml-2">end</span>
              <br />
            end
        </div>
      </div>
  </div>

  <%= render 'shared/bottom_nav', text: 'Explore products integration after authorization' %>
</div>