<div class="pt-10 px-5 flex flex-col gap-10">
  <h1 class="text-2xl  tracking-wide text-green-500"> Rails - Daraja API Integration </h1>

  <div class="grid md:grid-cols-3 gap-5">
    <% products.each do |product| %>
      <div class="bg-white shadow p-5 flex flex-col gap-6">
         <div class="flex gap-6 items-center">
          <div class="border-2 border-tertiary flex justify-center items-center p-5 w-16 h-16 rounded-full">
            <i class="<%= product[:icon] %> text-2xl text-tertiary"></i>
          </div>
          <div class="flex flex-col gap-2">
            <h5 class="tracking-wide text-xl text-primary capitalize"><%= product[:title] %></h5>
            <p class="text-sm"><%= product[:description] %></p>
          </div>
        </div>
        <%= link_to 'read tutorial', product[:path], class: "bg-primary px-8 py-2 text-white lg:mt-10 capitalize text-sm font-semibold text-center" %>
      </div>
    <% end %>
  </div>

<div>